k2b
pgroot
src/k2/postgres/src/postgres-build/
src/k2/postgres/src/postgres-stamp/
build
src/k2/postgres/src/backend/catalog/k2pg_bki-stamp
src/k2/postgres/src/backend/catalog/k2pg_postgres.bki
src/k2/postgres/src/backend/exports.list
src/k2/postgres/tmp/postgres-cfgcmd.txt
src/k2/postgres/tmp/postgres-cfgcmd.txt.in
src/k2/postgres/cmakedir
src/k2/postgres/bin
src/k2/postgres/share
src/k2/postgres/lib
src/k2/postgres/include
